/*hinoshi.css*/
@charset "UTF-8";

html, body {
    height: 100%;
    max-width: auto;
    margin-right: auto;
    margin-left: auto;
}
body {
    background-image: url("./images/haikei.png");
    background-size: cover ;
    background-attachment: fixed;
    background-position: center center;
  }

#header p{
    margin:50px 0;
    padding: 80px 100px;
    line-height: 2;
    background-color : #ffffff;
}
 #header p:first-letter{
    font-size: 3em;
    line-height: 1;
    float : left;
    list-style-position: inside;
    color: rgba(122,201,67,0.8);
}

#header img{
    /*background-color: rgb(0,0,0);*/
    max-width: 100%;
    margin-left: 40px ;
    /*margin-top: 100px;*/
    padding: 0;
}

#header h1{
    /*background-color: rgb(255,255,255);*/
    max-width: 100%;
    margin-left: 80px ;
    margin-right: 100px ;
    margin-top: 150px;
    padding: 0;
}

#column{/*立地適正化計画とは？*/
    background-color: #ffffff;
}

#column h2{
    margin: 0;
    padding: 80px 100px 30px 80px;
}

#column p{
    margin: 0;
    padding: 30px 100px 80px 80px;
}

#column p:first-letter{
   font-size: 3em;
   line-height: 1;
   float : left;
   list-style-position: inside;
   color: rgba(122,201,67,0.8);
}

#column p:first-letter{
   font-size: 3em;
   line-height: 1;
   float : left;
   list-style-position: inside;
   color: rgba(122,201,67,0.8);
}

#category{
    background-color: #ffffff;
}

#category h3{
    margin: 0;
    padding: 80px 100px 30px 80px;
}


#Question {
	width:   100%;
	min-width: 640px;
	margin:  auto;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: -ms-box;
	box-pack: justify;
	-moz-box-pack: justify;
	-webkit-box-pack: justify;
	-o-box-pack: justify;
	-ms-box-pack: justify;
}
.radio_image {
	width: 10%;
	height: 10%;
  padding: 45px;
	display: inline-block;
}

#Question label {
    /*padding-top: 100px ;*/
    padding:  0 auto;
    line-height: 450%;
    /*background-color: rgba(0,0,0,0.5);*/
}

#footer{
  margin: 250px auto;
}

#footer form{
  margin : 0 auto;
  padding : 1em;
  background-color: #ffffff;
}

#footer h2{
  margin : 0 auto ;
  background-color: #ffffff;
  text-align: center;
}

#footer form div {
  margin-top : 3em;
  margin-left: 10em;
  text-align: justify;
}

#footer label{
  display : inline-block;
  width: 15%;
  text-align : right;
}

#footer input, textarea{
   font : 1em sans-serif;
   width : 60%;
   box-sizing: border-box;
   border: 1px solid #999;
   border-radius : 0.5em;
}

#footer input,textarea{
  vertical-align: top;
  height: 3em;
}

#footer textarea{
  vertical-align: top;
  height: 15em;
}

#footer .button{
  padding-left:  110px;
}

#footer button{
  margin-left: .5em;
}

#footer p{
    margin: 0;
    padding: 30px 100px 80px 80px;
    background-color: #ffffff;
}

#footer p:first-letter{
   font-size: 3em;
   line-height: 1;
   float : left;
   list-style-position: inside;
   color: rgba(122,201,67,0.8);
}
