/* page3.css */
@charset "UTF-8";
html, body {
    height: 100%;
    max-width: auto;
    margin-right: auto;
    margin-left: auto;
    font-family: serif;
		line-height: 2;
		text-align:center;
}

#header{
  margin:120px 0 0;
}

#header h1{
    /*background-color: rgb(255,255,255);*/
    max-width: 100%;
    margin-left: 100px ;
    margin-right: 100px ;
    margin-top: 150px;
    margin-bottom: 15px;
    padding: 0;
		line-height: 1.5;
}

#header p{
    margin:0;
    padding: 100px 50px 15px;
}



#Question{
  margin: 50px auto 100px;
}

#Question form{
  margin : 0 auto;
  padding : 1em;
  background-color: #ffffff;
}

#Question h2{
  margin : 0 auto ;
  background-color: #ffffff;
  text-align: center;
}

#Question form div {
  margin-top : 3em;
  margin-left: 10em;
  text-align: justify;
}

#Question label{
  display : inline-block;
  width: 15%;
  text-align : right;
}

#Question input, textarea{
   font : 1em sans-serif;
   width : 60%;
   box-sizing: border-box;
   border: 2px solid #999;
   border-radius : 0.5em;
}

#Question input,textarea{
  vertical-align: top;
  height: 3em;
}

#Question textarea{
  vertical-align: top;
  height: 18em;
}

#Question .button{
  padding-left:  110px;
}

#Question button{
  margin-left: .5em;
}


#footer{
  margin: 0;
  padding: 10px  0 0 0;
  background: #ffffff;
  position: relative;
  color: white;
}
#footer .nav {
 display: flex;
 width: 100%;
 padding: 0;
 margin: 0;
}
#footer .nav .page__item {
  width: calc(100% / 3);
  margin: 0;
  list-style: none;
  background: #ffffff;
  text-align: center;
  vertical-align: middle;
}
#footer .nav .page__item img{
    width: 100%;
}

#footer .nav .page__item2 {
  width: calc(100% / 3);
  margin: 0;
  list-style: none;
  background: #ffffff;
  text-align: center;
  vertical-align: middle;
}
#footer .nav .page__item2 img{
    width: 100%;
}

#footer .nav .page__item3 {
  width: calc(100% / 3);
  margin: 0;
  list-style: none;
  background: #ffffff;
  text-align: center;
  vertical-align: middle;
}

#footer .nav .page__item3 img{
    width: 100%;
}
