/* page2.css */
@charset "UTF-8";
html, body {
    height: 100%;
    max-width: auto;
    margin-right: auto;
    margin-left: auto;
    font-family: serif;
		line-height: 2;
    text-align:center;
}

body {
    background-image: url("./images/background2.jpg");
    background-size: cover ;
    background-attachment: fixed;
    background-position: center center;
    text-align:center;
    margin: auto;
  }
#header{
  margin:120px 0;
}

#header h1{
    max-width: 100%;
    margin-left: 100px ;
    margin-right: 100px ;
    margin-top: 150px;
    padding: 0;
		line-height: 1.5;
}

#header p{
    margin:0;
    padding: 80px 100px 50px;
}

#category{
  margin: 300px 0 0 0;
  padding-top: 100px;

  background-color: #ffffff;
}

#category h2{
    padding: 0 100px 30px 100px;
}


#Question {
	width:  48em;
  height: 4.1em;
	margin:  auto;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}


#item1{
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
}

#item2{
  width: 100%;
  height: 100%;
  position: absolute;
}

.item{
  width: 100%;
  height: 100%;
  display: grid;
  justify-content:space-around;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}


#category1{
  border-radius: 5px;
  display: flex;
  justify-content:center;
  align-content: center;
}

.button{
  background-color: #1d7ad0;
  color: #ffffff;
  text-decoration: none;
}

.button:hover{
  background-color: #7abcf7;
}

.button2{
  background-color: #1dd0a0;
  color: #ffffff;
  text-decoration: none;
}

.button2:hover{
  background-color: #71e7c8;
}

.butText2{
  line-height: 1;
  margin: auto;
  padding: 5px;
}

#map {
  margin: auto;
  width: 80%;
  height: calc(70vmin);
}

#infomation{
  margin: auto;
  width: 80%;
  background-color: #ffffff;
  display:none;
}

#infomation h2{
  margin:0;
  padding: 0;
}

@media screen and (max-width: 768px){
  #Question {
  	width:  90%;
    height: 8.3em;
  }
  .item{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

  }
  #map{
    height:80%;
  }
}





#column2{
  margin:0;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 150px;
  background-color: #ffffff;
}


#column2 h2{
  margin : 50px;
}


#column2 img{
  width: 60%;
}

#column2 p{
    margin: 80px auto ;
    padding: 5px auto 40px auto;
    width: 50%;
}


#column3{
  margin:0;
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 130px;
  background-color: #e6e6e6;
  text-align: center;
}

#column3 .saito{
  width: 80%;
  margin:  50px auto 0;
}

#column3  h2{
  margin : 30px auto 20px;
}

#column3  h3{
  padding: 30px 0px 20px 80px;
  text-align: center;
}

#column3 .saito img{
  width: 35%;
  padding: 5px 100px 5px 5px;
}

#column3 .saito p{
    padding: 30px 0px 50px 90px;
    text-align: center;
}

#column4{
  margin:0;
  padding: 100px;
  background-color: #ffffff;
}

#column4 h2{
  margin : 50px;
}


#column4 p{
    margin: 80px auto ;
    padding: 5px auto 40px auto;
    width: 50%;
}


#footer{
  margin: 0;
  padding: 10px  0 0 0;
    background: #ffffff;
    position: relative;
    color: white;

}
#footer .nav {
 display: flex;
 width: 100%;
 padding: 0;
 margin: 0;
}
#footer .nav .page__item {
  width: calc(100% / 3);
  margin: 0;
  list-style: none;
  background: #ffffff;
  text-align: center;
  vertical-align: middle;
}
#footer .nav .page__item h3{
  width: calc(100% / 3);
  position: absolute;/*絶対配置*/
  top:23%;
  margin:0;
  padding:0;
  letter-spacing: 3px;
}
#footer .nav .page__item p{
  width: calc(100% / 3);
  position: absolute;/*絶対配置*/
  top: 43%;
  margin:0;
  padding:0;
  line-height: 2.3;
  letter-spacing: 1px;
}
#footer .nav .page__item img{
    width: 100%;
}

#footer .nav .page__item2 {
  width: calc(100% / 3);
  margin: 0;
  list-style: none;
  background: #ffffff;
  text-align: center;
  vertical-align: middle;
}
#footer .nav .page__item2 h3{
  width: calc(100% / 3);
  position: absolute;/*絶対配置*/
  top:23%;
  margin:0;
  padding:0;
  letter-spacing: 3px;
}
#footer .nav .page__item2 p{
  width: calc(100% / 3);
  position: absolute;/*絶対配置*/
  top: 44%;
  margin:0;
  padding:0;
  line-height: 3;
  letter-spacing: 1px;
}
#footer .nav .page__item2 img{
    width: 100%;
}

#footer .nav .page__item3 {
  width: calc(100% / 3);
  margin: 0;
  list-style: none;
  background: #ffffff;
  text-align: center;
  vertical-align: middle;
}
#footer .nav .page__item3 h3{
  width: calc(100% / 3);
  position: absolute;/*絶対配置*/
  top:23%;
  margin:0;
  padding:0;
  letter-spacing: 3px;
}
#footer .nav .page__item3 p{
  width: calc(100% / 3);
  position: absolute;/*絶対配置*/
  top: 44%;
  margin:0;
  padding:0;
  line-height: 3;
  letter-spacing: 1px;
}
#footer .nav .page__item3 img{
    width: 100%;
}
